#######################
## Released binaries ##
#######################

# "competition" folder
!competition/*.hex

###################
## avrdude files ##
###################

# avrdude files
!avrdude.exe

###############################
## Atmel/Visual Studio files ##
###############################

# User-specific files
*.atsuo
#*.atsln #these should sync
*.suo
*.user
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile
